<footer class="">

    <div class="d-flex flex-column">

            <ul class="nav mx-auto" style="list-style: none;">
                <li class="nav-item">

                </li>
                <li class="nav-item">

                </li>
            </ul>


        <div class="d-flex flex-row-reverse mx-auto text-light">
            <span class="">
                <p class="">Copyright &copy; 12018<a href="https://youtu.be/czgOWmtGVGs"><i class="fas fa-question-circle px-1"></i></a>&ndash; ElectroCode / Ken Spencer</p>
            </span>
        </div>
    </div>
</footer>
{% include scripts.html %}
</body>

</html>