{% include head.html %}
    <div class="row px-3">
        <div class="col-md-8">
            <div id="content" class="p-4">
                <div>
                    <header>
                        <h3>
                            {{page.title}}
                        </h3>
                    </header>
                </div>
                <div id="post-meta" class="d-flex text-light mb-2">
                    <span>Published on {{ page.date | date: "%m/%d/%Y at %H:%M:%S"}}</span>
                </div>
                <article>
                    {{content}}
                </article>
            </div>
        </div>
        <div class="col-md-4">
            <div id="sidebar" class="p-2">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
    <hr class="py-2" />
{% include footer.html %}