{% include head.html %}
    <div class="row col-12">
        <div class="col-md-8">
            <div id="breadcrumbs">
                {% include head_breadcrumb.html %}
            </div>
            <div id="content" class="p-2">
                {{content}}
            </div>
        </div>
        <div class="col-md-4">
            <div id="sidebar" class="p-4">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
    <hr class="py-2" />
{% include footer.html %}